#results li {
  cursor: pointer;
}
#results li:hover {
  background-color: rgb(230,230,230)
}
#results li h2 {
  text-align: center;
  font-size: 14px;
  margin-top:16px;
}
#print-modal input[type="text"][disabled]{
  background-color: #DAD8D8; 
}
#print-modal #description {
  background-color: #ffffff; 

  font-family: Helvetica;
  font-weight: 200;
  font-size: 20px;

  text-align: center;
  height: 50px;
  
  border: 0;
  box-shadow: none;
}
#print-modal p {
  font-size: 14px;
  font-weight: 200;
  margin-top: 15px;
}
#print-modal #barcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
}