<div class="fixed">
	<nav class="top-bar" data-topbar role="navigation" id="top-header">
		<ul class="title-area">
			<li class="name">
				<h1><a href="#">Stregkoder</a></h1>
			</li>
			
		</ul>

		<div id="netstatus"></div>

		<section class="top-bar-section"></section>
</div>