<div class="fixed">
	<nav class="top-bar" data-topbar role="navigation" id="top-header">
		<ul class="title-area">
			<li class="name">
				<h1><a href="#">Stregkoder</a></h1>
			</li>
			
		</ul>

		


		<section class="top-bar-section">
      <ul class="right">
        <div id="netstatus"></div>
        <li><a href="#" data-reveal-id="settings-modal">Indstillinger</a></li>
      </ul>

    </section>
</div>